{%extends 'base.html'%}
{%block description%}Добавить компанию{%endblock%}
{%block pagetitle%}Добавить компанию{%endblock%}
{%block content%}
<div class="content">
   <div class="contetn-inner">
      <div class="main-form-wrapper">
         {% if not company %}
         <form onsubmit="return checkForm(this)" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="main-form-table">
               <tbody>
                  {% for field in form %}
                  <tr>
                     <td>{{ field.label_tag }}</td>
                     <td>
                        {{ field }} 
                        <p id='err_{{ field.id_for_label }}' class='errorlist'></p>
                        {{ field.errors }} 
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
            <p class="title">Добавить фотографии</p>
            <div id="dropContainer">
               <div class="file-upload">
                  <label>
                  <input type="file" multiple="" name="file" id="photo">
                  <span>Нажмите или перетащите</span>
                  </label>
               </div>
            </div>
            <div>
               <ul id="preview-photo">
               </ul>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" name="submit">Добавить</button>
         </form>
         {% else %}
            Вы уже добавили компании, <a href="{% url 'profile_detail' pk=user.pk %}">перейдите в профиль</a>, чтобы увидеть!
         {% endif %}
      </div>
   </div>
</div>
{%endblock%}
{%block script%}
<script>
   var previewWidth = 150, // ширина превью
       previewHeight = 150, // высота превью
       maxFileSize = 2 * 1024 * 1024, // (байт) Максимальный размер файла (2мб)
       selectedFiles = {},// объект, в котором будут храниться выбранные файлы
       queue = [],
       image = new Image(),
       imgLoadHandler,
       isProcessing = false,
       errorMsg, // сообщение об ошибке при валидации файла
       previewPhotoContainer = document.querySelector('#preview-photo'); // контейнер, в котором будут отображаться превью
   
   // Когда пользователь выбрал файлы, обрабатываем их
   $('input[type=file][id=photo]').on('change', function() {
       var newFiles = $(this)[0].files; // массив с выбранными файлами
   
       for (var i = 0; i < newFiles.length; i++) {
   
           var file = newFiles[i];
   
           // В качестве "ключей" в объекте selectedFiles используем названия файлов
           // чтобы пользователь не мог добавлять один и тот же файл
           // Если файл с текущим названием уже существует в массиве, переходим к следующему файлу
           if (selectedFiles[file.name] != undefined) continue;
   
           // Валидация файлов (проверяем формат и размер)
           if ( errorMsg = validateFile(file) ) {
               alert(errorMsg);
               return;
           }
   
           // Добавляем файл в объект selectedFiles
           selectedFiles[file.name] = file;
           queue.push(file);
   
       }
   
       $(this).val('');
       processQueue(); // запускаем процесс создания миниатюр
   });
   
   // Валидация выбранного файла (формат, размер)
   var validateFile = function(file)
   {
       if ( !file.type.match(/image\/(jpeg|jpg|png|gif)/) ) {
           return 'Фотография должна быть в формате jpg, png или gif';
       }
   
       if ( file.size > maxFileSize ) {
           return 'Размер фотографии не должен превышать 2 Мб';
       }
   };
   
   var listen = function(element, event, fn) {
       return element.addEventListener(event, fn, false);
   };
   
   // Создание миниатюры
   var processQueue = function()
   {
       // Миниатюры будут создаваться поочередно
       // чтобы в один момент времени не происходило создание нескольких миниатюр
       // проверяем запущен ли процесс
       if (isProcessing) { return; }
   
       // Если файлы в очереди закончились, завершаем процесс
       if (queue.length == 0) {
           isProcessing = false;
           return;
       }
   
       isProcessing = true;
   
       var file = queue.pop(); // Берем один файл из очереди
   
       var li = document.createElement('LI');
       var span = document.createElement('SPAN');
       var spanDel = document.createElement('SPAN');
       var canvas = document.createElement('CANVAS');
       var ctx = canvas.getContext('2d');
   
       span.setAttribute('class', 'img');
       spanDel.setAttribute('class', 'delete');
       spanDel.innerHTML = 'Удалить';
   
       li.appendChild(span);
       li.appendChild(spanDel);
       li.setAttribute('data-id', file.name);
   
       image.removeEventListener('load', imgLoadHandler, false);
   
       // создаем миниатюру
       imgLoadHandler = function() {
           ctx.drawImage(image, 0, 0, previewWidth, previewHeight);
           URL.revokeObjectURL(image.src);
           span.appendChild(canvas);
           isProcessing = false;
           setTimeout(processQueue, 200); // запускаем процесс создания миниатюры для следующего изображения
       };
   
       // Выводим миниатюру в контейнере previewPhotoContainer
       previewPhotoContainer.appendChild(li);
       listen(image, 'load', imgLoadHandler);
       image.src = URL.createObjectURL(file);
   
       // Сохраняем содержимое оригинального файла в base64 в отдельном поле формы
       // чтобы при отправке формы файл был передан на сервер
       var fr = new FileReader();
       fr.readAsDataURL(file);
       fr.onload = (function (file) {
           return function (e) {
               $('#preview-photo').append(
                       '<input type="hidden" name="photos[]" value="' + e.target.result + '" data-id="' + file.name+ '">'
               );
           }
       }) (file);
       
   };
   
   // Удаление фотографии
   $(document).on('click', '#preview-photo li span.delete', function() {
       var fileId = $(this).parents('li').attr('data-id');
   
       if (selectedFiles[fileId] != undefined) delete selectedFiles[fileId]; // Удаляем файл из объекта selectedFiles
       $(this).parents('li').remove(); // Удаляем превью
       $('input[name^=photo][data-id="' + fileId + '"]').remove(); // Удаляем поле с содержимым файла
   });
   
</script>
<script>
   dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
     evt.preventDefault();
   };
   
   dropContainer.ondrop = function(evt) {
     // pretty simple -- but not for IE :(
     photo.files = evt.dataTransfer.files;
     evt.preventDefault();
   };
</script>
<script type="text/javascript">
   function checkForm(form){
   	if (document.getElementById('id_info').value=="") {
   		document.getElementById('err_id_info').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_title').value=="") {
   		document.getElementById('err_id_title').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_city').value=="") {
   		document.getElementById('err_id_city').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_ur_adress').value=="") {
   		document.getElementById('err_id_ur_adress').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_pochta_adress').value=="") {
   		document.getElementById('err_id_pochta_adress').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_inn').value=="") {
   		document.getElementById('err_id_inn').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_bik').value=="") {
   		document.getElementById('err_id_bik').innerHTML='Введите значение';
   		return false;
   	};
   	if (document.getElementById('id_bank').value=="") {
   		document.getElementById('err_id_bank').innerHTML='Введите значение';
   		return false;
   	};
   	return true;
   };
</script>
<script type="text/javascript">
    var uploadField = document.getElementById("id_logo");
    uploadField.onchange = function() {
        if(this.files[0].size > 307200){
           alert("Файл слишком большой!");
           this.value = "";
        };
    };
</script>
{%endblock%}
