{%extends 'base.html'%}
{%block description%}PromSpros – портал производственных решений. Поиск предложений по продаже и покупке товаров промышленного назначения и услуг. Каталог товаров.{%endblock%}
{%block pagetitle%}Промспрос – предложения и заказы на рынке промышленных товаров и услуг{%endblock%}

{%block content%}

<div class="breadcrumbs">
    <div itemscope="" itemtype="http://schema.org/BreadcrumbList">
     <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/">Главная</a>
    <span>&frasl;</span>
     <a href="/contact/" itemprop="item" class="active">Информация</a>
    </span>
</div>
</div>
<div class="content">
    
    <div class="content-inner">
        <div class="content-inner-top clearfix">
                        <h1 class="section-heading">Информация</h1>
                    </div>
<div class="categories-wrapper">
    <p style="margin-bottom: 0.35cm; line-height: 115%"><font color="#004d9b"><font face="Arial, serif"><font style="font-size: 15pt"><span lang="en-US"><span style="background: #ffffff">Promspros</span></span></font></font></font><font color="#004d9b"><font face="Arial, serif"><font style="font-size: 15pt"><span style="background: #ffffff">.ru (Промспрос.рф) - О проекте</span></font></font></font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%">Портал производственных решений <span lang="en-US">Promspros</span>.<span lang="en-US">ru</span> &ndash; промышленный межотраслевой интернет-портал, созданный с целью быть полезным для специалистов промышленности в установлении партнерских отношений между предприятиями удаленными друг от друга, удовлетворения своих потребностей и получения прибыли.</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><font color="#004d9b"><font face="Arial, serif"><font style="font-size: 12pt"><span lang="en-US"><span style="background: #ffffff">Зачем нужна регистрация на портале?</span></span></font></font></font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%">В результате регистрации Вы получаете возможность размещать информацию о компании и публиковать объявления двух типов &ndash; заказы и предложения. Добавив информацию в профиль, Ваша компания, автоматически, начнет участвовать в результатах поиска по компаниям. Также регистрация дает доступ к информации и функциями из списка &laquo;только для зарегистрированных пользователей&raquo;.</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><font color="#004d9b"><font face="Arial, serif"><font style="font-size: 12pt"><span style="background: #ffffff">Заказы и предложения на портале</span></font></font></font><font color="#004d9b"><font face="Arial, serif"><font style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%">Заказы, размещенные на портале, формируют спрос на товары и услуги, а добавив предложение, Вы опубликуете объявление о товаре или услуге для привлечения потенциального клиента.</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><b><font color="#666666"><font face="Arial, serif"><span style="background: #ffffff">Отрасли и категории объявлений на портале</span></font></font></b></p>
<ul>
	<li>
		<span>Металлопродукция</span>
	</li>
	<li>
		<span>Металлообработка</span>
	</li>
	<li>
		<span>Строительная продукция и услуги</span>
	</li>
	<li>
		<span>Промышленное оборудование и машиностроение</span>
	</li>
	<li>
		<span>Деревообработка и услуги</span>
	</li>
	<li>
		<span>Спецтехника и транспорт</span>
	</li>
	<li>
		<span>Прочее сырье и материалы, услуги</span>
	</li>
	<li>
		<span>Услуги для бизнеса и промышленности</span>
	</li>
</ul>

<p style="margin-bottom: 0.35cm; line-height: 115%"><br>
	Мы в соц.сетях:</p>
	 <div class="footer-social">
                           <a href="https://www.facebook.com/groupinvite/ATXKc5-H8B-h6hNrpptwLGxEWyWYXuJ694hDykXbpxFziXO7xSYvZpgHevWkcS-zGVeTHkneHhc6rb6MsTZMc4tgYZOddObmn1la0i6DtSZ3UFKuO1ftUp3sEl-IPHW1gKy2xvY6FVkgB_EuVEu-ljbLuCNN5IliPwAr4grTpUOq5NNOvmabwBy07z86mFHQsq1ld8fdq9RphkzXQ74Wf1olWTPZSG6nFy_nMvDq-64OXQ/"></a>
                           <a href="https://vk.com/promspros"></a>
                           <a href="https://www.instagram.com/promspros.ru/?hl=ru"></a>
                        </div>
<p style="margin-bottom: 0.35cm; line-height: 115%"><a name="_GoBack"></a><br>
	&nbsp;</p>
<p style="margin-bottom: 0.35cm; line-height: 115%">По любому вопросу вы можете отправить сообщение в <i><a href="mailto:info@promspros.ru">службу поддержки</a> </i>портала</p>
<p>или воспользуйтесь формой обратной связи</p>

</div>

<form enctype="multipart/form-data" action="/contact/" method="post">{% csrf_token %}
<div class="main-form-wrapper">
<table class="main-form-table main-form-table-2">
    <tbody>
    
	<tr>
	  <td><label for="id_subject">Тема:</label></td>
	  
	  <td>{{ form.subject }} {{ form.subject.errors }} {{ form.non_field_errors }}</td>
	</tr>
	<tr>
	  <td><label for="id_sender">E-mail:</label></td>
	 
	  <td>{{ form.sender }}  {{ form.sender.errors }}</td>
	</tr>
	<tr>
	  <td><label for="id_message">Сообщение:</label></td>
	
	 <td> {{ form.message }}  {{ form.message.errors }}</td>
	</tr>


 </tbody>
</table>
</div>
<div class="main-form-wrapper">
                        <table class="main-form-table main-form-table-2">
                            <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <input type="submit" class="main-entry-button button-h-opacity" value="Отправить">
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
</form>


</div>
</div>
{%endblock%}
