{%extends 'base.html'%}
{% load thumbnail %}
{% load company_tags %}
{%block description%}Промышленные объявления по отраслям на портале ПромСпрос – актуальный спрос и предложение производственных компаний. Широкий выбор промышленных товаров и услуг. Самые актуальные предложения со всей России. {%endblock%}
{%block pagetitle%}PromSpros – Портал производственных решений. Предложения компаний, заказы покупателей.{% endblock %}
{%block content%}
<div class="block_on_page">
        {{block_page.block_one|safe}}
    </div>
<div class="content">
    
    <div class="content-inner">
        
        <div class="content-inner-top clearfix">
                        <h1 class="section-heading">Промышленные объявления по отраслям</h1>
                    </div>
        <div class="categories-wrapper">
                        <ul class="categories-list categories-list-main link-h-underline-parent">
                            {%for category in category_list%}
                            <li>
                                {%if category.icon%}
                                {% thumbnail category.icon "30" as im %}
                                <img src="{{im.url}}">
                                {%endthumbnail%}
                                {%endif%}
                                <a href="{% url 'categorydetail' slug=category.slug%}" class="orders-mini-content-title">{{category.title}}</a>
                                <ul class="categories-list-inner">
                                    {%for subcategory in category.subcategory_set.all%}
                                    <li>{%if subcategory.icon%}<img src="{{subcategory.icon.url}}">{%endif%}<a href="{% url 'subcategorydetail' slug=subcategory.parent.slug subcategory_slug=subcategory.slug %}">{{subcategory.title}}</a><span>{{subcategory.order_count}}</span></li>
                                    {%endfor%}
                                 
                                </ul>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
        
        <div class="content-inner-top content-inner-top-2 clearfix">
            <h2 class="section-heading">Новые заказы</h2>
            <a href="/orders" class="orders-more-link button-h-opacity"></a>
        </div>
        <div class="orders-mini-wrapper">
            {%for item in order_list|slice:":6"%}
             {% ifchanged item.user.id item.born %}
                <div itemscope itemtype="http://schema.org/Offer">
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="orders-mini clearfix">
                      <div class="orders-mini-img-block">
                         {%for file in item.orderimage_set.all|slice:":1"%}
                         {% thumbnail file.file "150x120" crop='center' as im %}
                         <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                         <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                         </a>
                         {% endthumbnail %}
                         {%endfor%}
                      </div>
                      <div class="orders-mini-content">
                         <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                            <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                         </div>
                         <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                         <div class="orders-mini-content-bottom">
                            <div class="left">
                               {%if item.user.company_set.all%}
                               {%for a in item.user.company_set.all%}
                               <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                               {%endfor%}
                               {%else%}
                               <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                               {%endif%}
                               <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                               <button data-count="0" class="button__other__order button_order_user_none">Ещё <span class="count__orders">0</span> заказа(ов) в этот день</button>
                            </div>
                            <div class="orders-mini-content-top-info clearfix right">
                               <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                  <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                  <input type="hidden" name="modeltype" value="order">
                                  <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                               </form>
                               {%if user.is_authenticated%}
                               {%if user == item.user%}
                               {%else%}
                               <a href="#"
                               class="add-to-favorites"
                               data-id="{{ item.id }}"
                               {% if item in user.userprofile.liked_order.all %}
                               data-in_favorites="true"
                               {% else %}
                               data-in_favorites="false"
                               {% endif %}
                               data-type="order"
                               >
                               {% if item in user.userprofile.liked_order.all %}
                               <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                               {% else %}
                               <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                               {% endif %}
                               </a>
                               {%endif%}
                               {%endif%}
                            </div>
                         </div>
                      </div>
                      <div class="ads_none">
                         <p class="title__none">Другие заказы пользователя:</p>
                         <div class="add_block"></div>
                      </div>
                   </div>
                </div>

                {% else %}
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="wrap__other wrap__other__order__no__active">
                      
                      <div class="other__ads">
                         


                         <div itemscope itemtype="http://schema.org/Offer">
                            <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" data-ads="ads"  class="orders-mini clearfix">
                               <div class="orders-mini-img-block">
                                  {%for file in item.orderimage_set.all|slice:":1"%}
                                  {% thumbnail file.file "150x120" crop='center' as im %}
                                  <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                  <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                                  </a>
                                  {% endthumbnail %}
                                  {%endfor%}
                               </div>
                               <div class="orders-mini-content">
                                  <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                                     <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                  </div>
                                  <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                                  <div class="orders-mini-content-bottom">
                                     <div class="left">
                                        {%if item.user.company_set.all%}
                                        {%for a in item.user.company_set.all%}
                                        <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                                        {%endfor%}
                                        {%else%}
                                        <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                                        {%endif%}
                                        <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                                     </div>
                                     <div class="orders-mini-content-top-info clearfix right">
                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                           <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                           <input type="hidden" name="modeltype" value="order">
                                           <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                                        </form>
                                        {%if user.is_authenticated%}
                                        {%if user == item.user%}
                                        {%else%}
                                        <a href="#"
                                        class="add-to-favorites"
                                        data-id="{{ item.id }}"
                                        {% if item in user.userprofile.liked_order.all %}
                                        data-in_favorites="true"
                                        {% else %}
                                        data-in_favorites="false"
                                        {% endif %}
                                        data-type="order"
                                        >
                                        {% if item in user.userprofile.liked_order.all %}
                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                        {% endif %}
                                        </a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>




                      </div>
                   </div>
             {% endifchanged %}
            {%endfor%}
            <div class="orders-mini-wrapper-bottom">
                <a href="/orders">Смотреть все &gt;</a>
            </div>
        </div>
        <div id="favourite_confirm" class="favourite-confirm">
            <form>
                <div class="table-wrapper">
                    <div class="table-wrapper-inner">
                        <h2 class="section-heading">Добавить в избранное:</h2>
                        <input type="submit" class="main-entry-button cancel-button button-h-opacity" value="Отмена">
                        <input type="submit" class="main-entry-button button-h-opacity" value="Добавить">
                    </div>
                </div>
            </form>
        </div>
        <div id="favourite_confirm2" class="favourite-confirm">
            <form>
                <div class="table-wrapper">
                    <div class="table-wrapper-inner">
                        <h2 class="section-heading">Удалить из избранного:</h2>
                        <input type="submit" class="main-entry-button cancel-button button-h-opacity" value="Отмена">
                        <input type="submit" class="main-entry-button button-h-opacity" value="Удалить">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="block_on_page">
        {{block_page.block_two|safe}}
    </div>
    <div class="content-inner">
        <div class="content-inner-top content-inner-top-2 clearfix">
            <h2 class="section-heading">Новые предложения</h2>
            <a href="/sentences" class="orders-more-link button-h-opacity"></a>
        </div>
        <div class="orders-mini-wrapper">
            {%for item in sentence_list|slice:":6"%}
             {% ifchanged item.user.id item.born %}
                <div itemscope itemtype="http://schema.org/Offer">
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="orders-mini clearfix">
                      <div class="orders-mini-img-block">
                         {%for file in item.sentenceimage_set.all|slice:":1"%}
                         {% thumbnail file.file "150x120" crop='center' as im %}
                         <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                         <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                         </a>
                         {% endthumbnail %}
                         {%endfor%}
                      </div>
                      <div class="orders-mini-content">
                         <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                            <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                         </div>
                         <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                         <div class="orders-mini-content-bottom">
                            <div class="left">
                               {%if item.user.company_set.all%}
                               {%for a in item.user.company_set.all%}
                               <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                               {%endfor%}
                               {%else%}
                               <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                               {%endif%}
                               <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                               <button data-count="0" class="button__other__order button_order_user_none">Ещё <span class="count__orders">0</span> предложения(й) в этот день</button>
                            </div>
                            <div class="orders-mini-content-top-info clearfix right">
                               <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                  <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                  <input type="hidden" name="modeltype" value="order">
                                  <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                               </form>
                               {%if user.is_authenticated%}
                               {%if user == item.user%}
                               {%else%}
                               <a href="#"
                               class="add-to-favorites"
                               data-id="{{ item.id }}"
                               {% if item in user.userprofile.liked_order.all %}
                               data-in_favorites="true"
                               {% else %}
                               data-in_favorites="false"
                               {% endif %}
                               data-type="order"
                               >
                               {% if item in user.userprofile.liked_order.all %}
                               <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                               {% else %}
                               <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                               {% endif %}
                               </a>
                               {%endif%}
                               {%endif%}
                            </div>
                         </div>
                      </div>
                      <div class="ads_none">
                         <p class="title__none">Другие предложения пользователя:</p>
                         <div class="add_block"></div>
                      </div>
                   </div>
                </div>

                {% else %}
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="wrap__other wrap__other__order__no__active">
                      
                      <div class="other__ads">
                         


                         <div itemscope itemtype="http://schema.org/Offer">
                            <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" data-ads="ads"  class="orders-mini clearfix">
                               <div class="orders-mini-img-block">
                                  {%for file in item.sentenceimage_set.all|slice:":1"%}
                                  {% thumbnail file.file "150x120" crop='center' as im %}
                                  <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                  <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                                  </a>
                                  {% endthumbnail %}
                                  {%endfor%}
                               </div>
                               <div class="orders-mini-content">
                                  <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                                     <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                  </div>
                                  <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                                  <div class="orders-mini-content-bottom">
                                     <div class="left">
                                        {%if item.user.company_set.all%}
                                        {%for a in item.user.company_set.all%}
                                        <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                                        {%endfor%}
                                        {%else%}
                                        <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                                        {%endif%}
                                        <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                                     </div>
                                     <div class="orders-mini-content-top-info clearfix right">
                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                           <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                           <input type="hidden" name="modeltype" value="order">
                                           <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                                        </form>
                                        {%if user.is_authenticated%}
                                        {%if user == item.user%}
                                        {%else%}
                                        <a href="#"
                                        class="add-to-favorites"
                                        data-id="{{ item.id }}"
                                        {% if item in user.userprofile.liked_order.all %}
                                        data-in_favorites="true"
                                        {% else %}
                                        data-in_favorites="false"
                                        {% endif %}
                                        data-type="order"
                                        >
                                        {% if item in user.userprofile.liked_order.all %}
                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                        {% endif %}
                                        </a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>




                      </div>
                   </div>
             {% endifchanged %}
            {%endfor%}
            <div class="orders-mini-wrapper-bottom">
                <a href="/sentences">Смотреть все &gt;</a>
            </div>
        </div>
    </div>
    <div class="block_on_page">
        {{block_page.block_three|safe}}
    </div>
</div>
{%endblock%}
{% load company_tags%}
{%block info%}
    {% block_info_main %}
{%endblock%}