{%extends 'base.html'%}
{%block pagetitle%}{{page.keywords}}{%endblock%}
{%block content%}
<div class="breadcrumbs">
    <a href="/">Главная</a>
    <span>&frasl;</span>
    <a href="">{{page.title}}</a>
</div>
<div class="content">
    <div class="content-inner">
        <div class="content-inner-top clearfix">
            <h1 class="section-heading">{{page.title}}</h1>
        </div>
        <div class="main-form-wrapper">
            {{page.body|safe}}
            <br>
            {% if page.code %}
            <div class="block-code">
              {{page.code|safe}}
            </div>
            {% endif %}
        </div>

        {%if page.slug == 'info'%}
        <h3>Контакты</h3>
        <form action="{% url "contact_form" %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            <label for="id_subject">Имя:</label>
            {{ form.name.errors }}
            {{ form.name }}
        </div>
        <div>
            <label for="id_subject">Тема:</label>
            {{ form.subject.errors }}
            {{ form.subject }}
        </div>
        <div>
            <label for="id_sender">E-mail:</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>
        <div>
            <label for="id_sender">Файл:</label>
            {{ form.file.errors }}
            {{ form.file }}
        </div>
        <div>
            <label for="id_message">Сообщение:</label>
            <br>
            {{ form.message.errors }}
            {{ form.message }}
        </div>
        <div>
            </br>
            {{ form.copy.errors }}
        </div>
        <input type="submit" value="Отправить"/>
        </form>

{%endif%}
    </div>
</div>
{%endblock%}
