{%extends 'base.html'%}
{% load thumbnail %}
{%block description%}Поиск объявлений{%endblock%}
{%block pagetitle%}Поиск{%endblock%}
{% load endless %}
{%block search%}
<form method="get" action="/search/">
    <table class="search-form-table">
        <tr>
            <td>
                <input type="text" name="q" class="search-input" placeholder="Введите ключевые слова">
            </td>
            <td>
                <select id="s12" name="s" class="cusel" >
                    {% if modeltype == 'order'%} 
                    <option value="order">Заказы</option>
                    <option value="sentence">Предложения</option>
                    <option value="company">Компания</option>
                    {% elif modeltype == 'sentence'%}
                    <option value="order">Заказы</option>
                    <option value="sentence" selected="selected">Предложения</option>
                    <option value="company">Компания</option>
                    {%else%}
                    <option value="order" >Заказы</option>
                    <option value="sentence">Предложения</option>
                    <option value="company" selected="selected">Компания</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <input type="text" class="search-input" name="city" id="automplete-2" placeholder="Введите город">
            </td>
            <td>
                <input type="submit"  class="search-button button-h-opacity" value="НАЙТИ">
            </td>
        </tr>
    </table>
</form>
{%endblock%}
{%block content%}
{% load endless %}
<div class="content">
    <div class="content-inner">
        <div class="main-content-inner main-section clearfix">
            <div class="breadcrumbs">
                <a href="/">Главная</a>
                <span>&frasl;</span>
                <a href="#" class="active"> Результаты поиска </a>
            </div>
            <div class="content">
                <div class="content-inner">
                    <div class="search-result-text">Найдено {{search_list_count}} совпадения</div>
                    <div class="orders-mini-wrapper">
                        {% paginate search_list %}
                        {%for item in search_list%}
                        <div class="orders-mini clearfix">
                            <div class="orders-mini-img-block">
                                {% if user.is_authenticated %}
                                {% if modeltype == 'order'%} 
                                {%for file in item.orderimage_set.all|slice:":1"%}
                                {% thumbnail file.file "100x100" crop="center" as im %}
                                <a href="/order/{{item.id}}" class="button-h-opacity">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.title}}">
                                </a>
                                {% endthumbnail %}
                                {%endfor%}
                                {% elif modeltype == 'sentence'%} 
                                {%for file in item.sentenceimage_set.all|slice:":1"%}
                                {% thumbnail file.file "100x100" crop="center" as im %}
                                <a href="/sentence/{{item.id}}" class="button-h-opacity">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.title}}">
                                </a>
                                {% endthumbnail %}
                                {%endfor%}
                                {%else%}
                                {%for file in item.companyimage_set.all|slice:":1"%}
                                {% thumbnail file.file_up "100x100" crop="center" as im %}
                                <a href="/company/{{item.id}}" class="button-h-opacity">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.title}}">
                                </a>
                                {% endthumbnail %}
                                {%endfor%}
                                {%endif%}
                                {% else %}
                                <img src="/media/images/company/company_no-reg.jpg">
                                {% endif %}
                            </div>
                            <div class="orders-mini-content">
                                <div class="orders-mini-content-top clearfix">
                                    {% if 'order' in modeltype%} 
                                    <h1><a href="{% url 'order_detail' item.id %}" class="orders-mini-content-title">{{item.title}}</a></h1>
                                    {% elif 'sentence' in modeltype%}
                                    <h1><a href="{% url 'sentence_detail' item.id %}" class="orders-mini-content-title">{{item.title}}</a></h1>
                                    {%else%}
                                    <h1><a href="{% url 'company_detail' item.id %}" class="orders-mini-content-title">{{item.title}}</a></h1>
                                    {%endif%}
                                </div>
                                    {% if 'order' in modeltype or 'sentence' in modeltype%} 
                                    <div class="orders-mini-content-text">{{item.body|slice:":230"}}...</div>
                                    {%else%}
                                    <div class="orders-mini-content-text">{{item.info|slice:":230"}}...</div>
                                    {%endif%}
                                <div class="orders-mini-content-bottom">
                                    <div class="left">
                                        {% if 'order' in modeltype or 'sentence' in modeltype%} 
                                        {%if item.user.company_set.all%}
                                        {%for a in item.user.company_set.all%}
                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                        {%endfor%}
                                        {%else%}
                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a>
                                        {%endif%}
                                        {%else%}
                                        <a href="http://{{item.url}}" itemprop="seller" class="orders-mini-enterprise">{{item.url}}</a>
                                        {%endif%}
                                        
                                        <span class="orders-mini-date">{{item.born}}</span>
                                    </div>
                                    <div class="orders-mini-content-top-info clearfix right">
                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                            <input type="hidden" name="city" value="{{item.city}}">
                                            {% if modeltype == 'order'%} 
                                            <input type="hidden" name="modeltype" value="order">
                                            {% elif modeltype == 'company'%} 
                                            <input type="hidden" name="modeltype" value="company">
                                            {% else %}
                                            <input type="hidden" name="modeltype" value="sentence">
                                            {% endif %}
                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="pager">
                        <div class="table-wrapper">
                            <div class="table-wrapper-inner">
                                {% show_pages %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}