{%extends 'base.html'%}
{%block description%}{{sentence.body|safe|slice:":160"}}{%endblock%}
{%block pagetitle%}{{sentence.title}}{%endblock%}
{% load endless %}
{% load thumbnail %}
{%block content%}
<div class="breadcrumbs">
   <div itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="name"><a href="/">Главная</a></span>
      <span>&frasl;</span>
      <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
         <a itemprop="item" href="/sentences"> Предложения </a>
      <span>&frasl;</span>
        <a itemprop="item" href="{% url 'sentence_detail' category_slug=sentence.category.parent.parent.slug subcategory_pk=sentence.category.parent.id subsubcategory_slug=sentence.category.slug slug=sentence.slug %}" class="active">{{sentence.title}}</a>
      </span>
   </div>
</div>
<div class="content">
   <div class="content-inner">
      <div class="content-inner-top clearfix">
         <h1 class="section-heading">{{sentence.title}}</h1>
         {% if user.is_authenticated %}
         {%if user != sentence.user%}
         <div class="sentences-mini-content-top-info clearfix right">
            <a href="#"
            class="add-to-favorites"
            data-id="{{ sentence.id }}"
            {% if sentence in user.userprofile.liked_sentence.all %}
            data-in_favorites="true"
            {% else %}
            data-in_favorites="false"
            {% endif %}
            data-type="sentence"
            >
            {% if sentence in user.userprofile.liked_sentence.all %}
            <i class="sentences-mini-content-favourite  modalbox" aria-hidden="true"></i>
            {% else %}
            <i class="sentences-mini-content-favourite sentences-mini-content-favourite-active modalbox" aria-hidden="true"></i>
            {% endif %}
            </a>
         </div>
         {%endif%}
         {% endif %}
      </div>
      <div class="sentences-mini-wrapper">
         <div class="profile-table-wrapper">
             <div itemscope itemtype="http://schema.org/Offer">
            <table class="profile-table">
               <tr>
                  <td>
                  </td>
                   
               </tr>
               <tr>
                  <td>Описание заказа:</td>
                  <td itemprop="description">{{sentence.body|linebreaksbr}} </td>
               </tr>
               <tr>
                  <td>Город:</td>
                  <td itemprop="eligibleRegion">{{sentence.city}}</td>
               </tr>
               <tr>
                  <td>Компания:</td>
                  {%for item in sentence.user.company_set.all%}
                  <td><a href="{% url 'company_detail' item.id%}" class="main-input-link" itemprop="seller"> {{item.title}}</a></td>
                  {%endfor%}
               </tr>
               <tr>
                  <td>Имя представителя:</td>
                  <td>{{sentence.name}}</td>
               </tr>
               {%if user.is_authenticated%}
               <div itemscope itemtype="http://schema.org/LocalBusiness">
               <tr>
                  <td>Телефон:</td>
                  <td itemprop="telephone">{{sentence.phone}}</td>
               </tr>
               <tr>
                  <td>Электронная почта:</td>
                  <td itemprop="email"><a href="mailto:" class="main-input-link">{{sentence.email}}</a></td>
               </tr>
               <tr>
               </div>
                  <td>Цена:</td>
                  <td>{{sentence.price}}</td>
               </tr>
               <tr>
                  <td>Файлы:</td>
                  {%for file in files|slice:":1"%}
                  <td>
                     <form action="/download" method='GET'>
                        <input type="hidden" name = "q" value="{{sentence.id}}">
                        <button class="main-input-link" type="submit">Скачать одним архивом</button>
                     </form>
                  </td>
                  {%endfor%}
               </tr>
               <tr>
                  <td></td>
                  <td>
                     <ul class="profile-table-img-list">
                        {%for file in files%}
                        <li>
                           <div class="profile-table-img-list-img-block">
                              <a href="{{file.file.url}}" class="button-h-opacity modalbox" rel="gal-1">
                              <img src="{{file.file.url}}" alt="{{sentence.title}}">
                              </a>
                           </div>
                           <div><a href="{{file.file.url}}" class="main-input-link" download>Скачать</a></div>
                        </li>
                        {%endfor%}
                     </ul>
                  </td>
               </tr>
               {%else%}
               <tr>
                  <td></td>
                  <td>    <a href="/accounts/login/?next={{request.path}}" class="main-input-link">Авторизуйтесь</a>
                     <span>чтобы увидеть полную информацию о компании</span>
                  </td>
               </tr>
               {%endif%}
               <tr>
                   <td>
                       </td>
                       {% if user.is_authenticated %}
                    {%if user == sentence.user%}
                  <td>
   
                     <div class="buttons-block clearfix">
                       <ul class="retreat">
                          <li> <a href="{% url 'sentence_edit' sentence.id%}" class="orders-mini-enterprise">Редактировать</a></li>
                        <li class="advertisement-o" data-type="sentence">
                        <div class="user-login">
                           <span class="user-login-link">Переместить в</span>
                           <div class="user-login-hidden">
                              <div class="user-login-hidden-inner">
                                 <ul class="user-login-hidden-list">
                                     {% for statuses in sentence.change %}
                                     {% if statuses.0 != sentence.status %}
                                     <li data-status="{{ statuses.0 }}" data-id="{{ sentence.id }}" class="move-in__item">
                                            <a href="#">{{ statuses.1 }}</a>
                                    </li>
                                     {% endif %}
                                     {% endfor %}
                                 </ul>
                              </div>
                           </div>
                        </div>
                        </li>
                        <li>
                         
                       <li> <a href="{% url 'sentence_delete' sentence.id%}" class="orders-mini-enterprise delete-link">Удалить</a></li>
                        </ul>
                     </div>
                  </td>
                  {%endif%}
                  {%endif%}
                   </tr>
            </table>
            </div>
         </div>
      </div>
   </div>
   <div class="content-inner">
      <div class="content-inner-top clearfix">
         {%for item in sentence.user.company_set.all%}
         <h2 class="section-heading">Другие предложения компании {{item.title}}</h2>
         {%endfor%}
      </div>
      <div class="sentences-mini-wrapper">
         {% paginate sentence_list %}
         {%for item in sentence_list%}
         <div class="orders-mini clearfix">
            <div class="orders-mini-img-block">

               {%for file in item.sentenceimage_set.all|slice:":1"%}
               {% thumbnail file.file "150" crop="center" as im %}
               <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
               <img src="{{ im.url }}" alt="{{item.title}}">
               </a>
               {% endthumbnail %}
               {%endfor%}

            </div>
            <div class="orders-mini-content">
               <div class="orders-mini-content-top clearfix">
                  <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
               </div>
               <div class="orders-mini-content-text">{{item.body|truncatechars:230}}</div>
               <div class="orders-mini-content-bottom">
                  <div class="left">
                     {%if item.user.company_set.all%}
                     {%for a in item.user.company_set.all%}
                     <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                     {%endfor%}
                     {%else%}
                     <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                     {%endif%}
                     <span class="orders-mini-date">{{item.born}}</span>
                  </div>
                  <div class="orders-mini-content-top-info clearfix right">
                     <form action="/search-city/" class="orders-mini-content-geo" method="get">
                        <input type="hidden" name="city" value="{{item.city}}">
                        <input type="hidden" name="modeltype" value="sentence">
                        <input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}">
                     </form>
                     {%if user.is_authenticated%}
                     {%if user == item.user%}
                     мое
                     {%else%}
                     <a href="#"
                     class="add-to-favorites"
                     data-id="{{ item.id }}"
                     {% if item in user.userprofile.liked_sentence.all %}
                     data-in_favorites="true"
                     {% else %}
                     data-in_favorites="false"
                     {% endif %}
                     data-type="sentence"
                     >
                     {% if item in user.userprofile.liked_sentence.all %}
                     <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                     {% else %}
                     <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                     {% endif %}
                     </a>
                     {%endif%}
                     {%endif%}
                  </div>
               </div>
            </div>
         </div>
         {%endfor%}
      </div>
      <div class="pager">
         <div class="table-wrapper">
            <div class="table-wrapper-inner">
               {% show_pages %}
            </div>
         </div>
      </div>
   </div>
</div>
{%endblock%}
{%block aside%}
<aside class="sidebar">
   <div class="sidebar-inner">
      {%for item in sentence.user.company_set.all%}
      <div class="sidebar-heading">{{item.title}}</div>
      <div class="sidebar-text">
         <p>{{item.info}}</p>
         <p>Сайт компании: <a href="http://{{item.url}}" class="main-input-link">{{item.url}}</a></p>
      </div>
      {%endfor%}
   </div>
   <div class="sidebar-inner">
      <div class="sidebar-heading">Другие компании в г.{{sentence.city}}</div>
      <ul class="sidebar-list link-h-underline-parent">
         {%if company.count == 0%}
         <p>Нет компаний</p>
         {%else%}
         {%for item in company%}
         <li><a href="/companies/{{item.id}}">{{item}}</a></li>
         {%endfor%}
         {%endif%}
      </ul>
      <div class="sentences-mini-wrapper-bottom">
         <a href="/companies">Все компании &gt;</a>
      </div>
   </div>
</aside>
{% endblock %}