{%extends 'base.html'%}
{% load thumbnail %}
{% load company_tags %}
{% load endless %}
{%block pagetitle%}{{subcategory}} от производителя купить не дорого{%endblock%}
{%block description%}{{subcategory.description}}{%endblock%}
{%block content%}
<div class="breadcrumbs">
   <div itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="name"><a href="/">Главная</a></span>
      <span>&frasl;</span>
      <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
      <a itemprop="item" href="{% url 'categorydetail' slug=subcategory.parent.slug %}">{{subcategory.parent.title}}</a>
      </span>
      <span>&frasl;</span>
      <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
      <a href="{% url 'subcategorydetail' slug=subcategory.parent.slug subcategory_slug=subcategory.slug %}" itemprop="item" class="active">{{subcategory.title}}</a>
      </span>
   </div>
</div>
<div class="content">
    <div class="content-inner">
        <div class="content-inner-top clearfix">
                        <h1 class="section-heading">{{subcategory.title}}</h1>
                    </div>
        <div class="categories-wrapper">
                        <ul class="categories-list link-h-underline-parent">
                   
                            {%for category in subcategory_list%}
                            <li><a href="{%url 'subsubcategorydetail' category_slug=category.parent.parent.slug subcategory_slug=category.parent.slug slug=category.slug %}">{{category.title}}</a><span>{{category.order_count}}</span></li>
                            {%endfor%}
                        </ul>
                    </div>
      <div class="profile-wrapper">
         <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="menu-list ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
               <li class="ui-state-default ui-corner-top ui-tabs-tab ui-tab ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Заказы</a></li>
               <li class="ui-state-default ui-corner-top ui-tabs-tab ui-tab" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Предложения</a></li>
            </ul>
            <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
               <div class="tabs-inner">
                  <div class="content-inner-top content-inner-top-2 clearfix">
            
           
        </div>
        <div class="orders-mini-wrapper">
            {% paginate order_list %}
            {%for item in order_list|slice:":6"%}
             {% ifchanged item.user.id item.born %}
                <div itemscope itemtype="http://schema.org/Offer">
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="orders-mini clearfix">
                      <div class="orders-mini-img-block">
                         {%for file in item.orderimage_set.all|slice:":1"%}
                         {% thumbnail file.file "150x120" crop='center' as im %}
                         <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                         <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                         </a>
                         {% endthumbnail %}
                         {%endfor%}
                      </div>
                      <div class="orders-mini-content">
                         <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                            <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                         </div>
                         <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                         <div class="orders-mini-content-bottom">
                            <div class="left">
                               {%if item.user.company_set.all%}
                               {%for a in item.user.company_set.all%}
                               <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                               {%endfor%}
                               {%else%}
                               <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                               {%endif%}
                               <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                               <button data-count="0" class="button__other__order button_order_user_none">Другие заказы компании (<span class="count__orders">0</span>)</button>
                            </div>
                            <div class="orders-mini-content-top-info clearfix right">
                               <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                  <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                  <input type="hidden" name="modeltype" value="order">
                                  <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                               </form>
                               {%if user.is_authenticated%}
                               {%if user == item.user%}
                               {%else%}
                               <a href="#"
                               class="add-to-favorites"
                               data-id="{{ item.id }}"
                               {% if item in user.userprofile.liked_order.all %}
                               data-in_favorites="true"
                               {% else %}
                               data-in_favorites="false"
                               {% endif %}
                               data-type="order"
                               >
                               {% if item in user.userprofile.liked_order.all %}
                               <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                               {% else %}
                               <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                               {% endif %}
                               </a>
                               {%endif%}
                               {%endif%}
                            </div>
                         </div>
                      </div>
                      <div class="ads_none">
                         <p class="title__none">Другие заказы пользователя:</p>
                         <div class="add_block"></div>
                      </div>
                   </div>
                </div>

                {% else %}
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="wrap__other wrap__other__order__no__active">
                      
                      <div class="other__ads">
                         


                         <div itemscope itemtype="http://schema.org/Offer">
                            <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" data-ads="ads"  class="orders-mini clearfix">
                               <div class="orders-mini-img-block">
                                  {%for file in item.orderimage_set.all|slice:":1"%}
                                  {% thumbnail file.file "150x120" crop='center' as im %}
                                  <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                  <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                                  </a>
                                  {% endthumbnail %}
                                  {%endfor%}
                               </div>
                               <div class="orders-mini-content">
                                  <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                                     <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                  </div>
                                  <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                                  <div class="orders-mini-content-bottom">
                                     <div class="left">
                                        {%if item.user.company_set.all%}
                                        {%for a in item.user.company_set.all%}
                                        <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                                        {%endfor%}
                                        {%else%}
                                        <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                                        {%endif%}
                                        <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                                     </div>
                                     <div class="orders-mini-content-top-info clearfix right">
                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                           <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                           <input type="hidden" name="modeltype" value="order">
                                           <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                                        </form>
                                        {%if user.is_authenticated%}
                                        {%if user == item.user%}
                                        {%else%}
                                        <a href="#"
                                        class="add-to-favorites"
                                        data-id="{{ item.id }}"
                                        {% if item in user.userprofile.liked_order.all %}
                                        data-in_favorites="true"
                                        {% else %}
                                        data-in_favorites="false"
                                        {% endif %}
                                        data-type="order"
                                        >
                                        {% if item in user.userprofile.liked_order.all %}
                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                        {% endif %}
                                        </a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>




                      </div>
                   </div>
             {% endifchanged %}
            {%endfor%}
             <div class="pager">
                        <div class="table-wrapper">
                            <div class="table-wrapper-inner">
                                
                                 {% show_pages %}
                            </div>
                        </div>
                    </div>
        </div>
        <div id="favourite_confirm" class="favourite-confirm">
            <form>
                <div class="table-wrapper">
                    <div class="table-wrapper-inner">
                        <h2 class="section-heading">Добавить в избранное:</h2>
                        <input type="submit" class="main-entry-button cancel-button button-h-opacity" value="Отмена">
                        <input type="submit" class="main-entry-button button-h-opacity" value="Добавить">
                    </div>
                </div>
            </form>
        </div>
        <div id="favourite_confirm2" class="favourite-confirm">
            <form>
                <div class="table-wrapper">
                    <div class="table-wrapper-inner">
                        <h2 class="section-heading">Удалить из избранного:</h2>
                        <input type="submit" class="main-entry-button cancel-button button-h-opacity" value="Отмена">
                        <input type="submit" class="main-entry-button button-h-opacity" value="Удалить">
                    </div>
                </div>
            </form>
        </div>
               </div>
            </div>
            <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
               <div class="tabs-inner">
                  <div class="content-inner-top content-inner-top-2 clearfix">
            
           
        </div>
        <div class="orders-mini-wrapper">
            {% paginate sentence_list %}
            {%for item in sentence_list|slice:":6"%}
             {% ifchanged item.user.id item.born %}
                <div itemscope itemtype="http://schema.org/Offer">
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="orders-mini clearfix">
                      <div class="orders-mini-img-block">
                         {%for file in item.orderimage_set.all|slice:":1"%}
                         {% thumbnail file.file "150x120" crop='center' as im %}
                         <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                         <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                         </a>
                         {% endthumbnail %}
                         {%endfor%}
                      </div>
                      <div class="orders-mini-content">
                         <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                            <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                         </div>
                         <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                         <div class="orders-mini-content-bottom">
                            <div class="left">
                               {%if item.user.company_set.all%}
                               {%for a in item.user.company_set.all%}
                               <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                               {%endfor%}
                               {%else%}
                               <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                               {%endif%}
                               <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                               <button data-count="0" class="button__other__order button_order_user_none">Другие заказы компании (<span class="count__orders">0</span>)</button>
                            </div>
                            <div class="orders-mini-content-top-info clearfix right">
                               <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                  <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                  <input type="hidden" name="modeltype" value="order">
                                  <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                               </form>
                               {%if user.is_authenticated%}
                               {%if user == item.user%}
                               {%else%}
                               <a href="#"
                               class="add-to-favorites"
                               data-id="{{ item.id }}"
                               {% if item in user.userprofile.liked_order.all %}
                               data-in_favorites="true"
                               {% else %}
                               data-in_favorites="false"
                               {% endif %}
                               data-type="order"
                               >
                               {% if item in user.userprofile.liked_order.all %}
                               <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                               {% else %}
                               <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                               {% endif %}
                               </a>
                               {%endif%}
                               {%endif%}
                            </div>
                         </div>
                      </div>
                      <div class="ads_none">
                         <p class="title__none">Другие заказы пользователя:</p>
                         <div class="add_block"></div>
                      </div>
                   </div>
                </div>

                {% else %}
                   <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" class="wrap__other wrap__other__order__no__active">
                      
                      <div class="other__ads">
                         


                         <div itemscope itemtype="http://schema.org/Offer">
                            <div data-user="{{ item.user.id }}" data-date="{{ item.born }}" data-ads="ads"  class="orders-mini clearfix">
                               <div class="orders-mini-img-block">
                                  {%for file in item.orderimage_set.all|slice:":1"%}
                                  {% thumbnail file.file "150x120" crop='center' as im %}
                                  <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                  <img itemprop="image" src="{{ im.url }}" alt="{{item.title}}">
                                  </a>
                                  {% endthumbnail %}
                                  {%endfor%}
                               </div>
                               <div class="orders-mini-content">
                                  <div class="orders-mini-content-top clearfix" itemprop="itemOffered">
                                     <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                  </div>
                                  <div class="orders-mini-content-text" itemprop="description">{{item.body|striptags|safe|truncatechars:230}}...</div>
                                  <div class="orders-mini-content-bottom">
                                     <div class="left">
                                        {%if item.user.company_set.all%}
                                        {%for a in item.user.company_set.all%}
                                        <span itemprop="seller"><a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a></span>
                                        {%endfor%}
                                        {%else%}
                                        <span itemprop="seller"><a href="{%url 'notcompany_detail' item.user.id%}" class="orders-mini-enterprise">{{item.user}}</a></span>
                                        {%endif%}
                                        <span class="orders-mini-date" itemprop="validFrom">{{item.born}}</span>
                                     </div>
                                     <div class="orders-mini-content-top-info clearfix right">
                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                           <input type="hidden" name="city" itemprop="eligibleRegion" value="{{item.city}}">
                                           <input type="hidden" name="modeltype" value="order">
                                           <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}" ></p>
                                        </form>
                                        {%if user.is_authenticated%}
                                        {%if user == item.user%}
                                        {%else%}
                                        <a href="#"
                                        class="add-to-favorites"
                                        data-id="{{ item.id }}"
                                        {% if item in user.userprofile.liked_order.all %}
                                        data-in_favorites="true"
                                        {% else %}
                                        data-in_favorites="false"
                                        {% endif %}
                                        data-type="order"
                                        >
                                        {% if item in user.userprofile.liked_order.all %}
                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                        {% endif %}
                                        </a>
                                        {%endif%}
                                        {%endif%}
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>




                      </div>
                   </div>
             {% endifchanged %}
            {%endfor%}
            <div class="pager">
                        <div class="table-wrapper">
                            <div class="table-wrapper-inner">
                                
                                 {% show_pages %}
                            </div>
                        </div>
                    </div>
        </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  <div class="content-inner">
        <div class="categories-wrapper">
            {{subcategory.description|safe}}
        </div>  
    </div>
</div>
{%endblock%}
{%block info%}
<ul  class="drop_vert_menu">
    <li>
	    <span><b>{{subcategory.parent.title}}</b></span>
    </li>
    {% for item in category_list %}
    {% if item.id == url_item %}
    <li class="active">
	    <a href="{% url 'subcategorydetail' slug=item.parent.slug subcategory_slug=item.slug %}"><span>{{item.title}}</span></a>
    </li>
    {% else %}
	<li>
	    <a href="{% url 'subcategorydetail' slug=item.parent.slug subcategory_slug=item.slug %}"><span>{{item.title}}</span></a>
    </li>
    {% endif %}
	{% endfor %}
</ul>

{%endblock%}
