appdirs==1.4.2
certifi==2017.4.17
chardet==3.0.4
Django==2.2.24
django-admin-sortable2==0.6.12
django-admin-tools==0.8.0
django-allauth==0.32.0
django-ckeditor==5.2.2
django-debug-toolbar==1.8
django-endless-pagination==2.0
django-extensions==1.7.9
django-filter==0.11.0
django-filters==0.2.1
django-guardian==1.4.6
django-multiforloop==0.2.1
django-multiupload==0.5.1
django-registration==2.0.3
django-registration-redux==1.2
django-tinymce==2.0.6
django-userena==1.4.1
djangoajax==2.3.6
easy-thumbnails==2.2.1
gunicorn==19.7.0
html2text==2014.12.29
idna==2.5
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.7
pyparsing==2.1.10
python-memcached==1.58
python-openid==2.2.5
requests==2.18.1
requests-oauthlib==0.8.0
simplejson==2.1.1
six==1.10.0
sorl-thumbnail==12.4a1
sqlparse==0.2.3
Unidecode==0.4.20
urllib3==1.21.1
