{%extends 'base.html'%}
{%block pagetitle%}{{profile}}{%endblock%}
{% load thumbnail %}
{%block content%}
{% load endless %}
<div class="breadcrumbs">
   <a href="/">Главная</a>
   <span>&frasl;</span>
   <a href="/companies">Компании</a>
   <span>&frasl;</span>
   <a href="#" class="active">{{profile}}</a>
</div>
<div class="content">
   <div class="content-inner">
      <div class="content-inner-top clearfix">
         <h1 class="section-heading">{{profile}}</h1>
        </div>    


<div class="main-form-wrapper">
         <div class="profile-table-wrapper">
            <table class="profile-table">
               <tr>
                  <td>Имя представителя:</td>
                  <td>{{profile.name}}</td>
               </tr>
               {%if user.is_authenticated%}
               <tr>
                  <td>Телефон:</td>
                  <td>{{profile.phone}}</td>
               </tr>
                <tr>
                  <td>Почта:</td>
                  <td>{{profile.email}}</td>
               </tr>
               {%else%}
                <tr>
                  <td></td>
                  <td>    <a href="#" class="main-input-link">Авторизуйтесь</a>
                     <span>чтобы увидеть полную информацию о компании</span>
                  </td>
               </tr>
               {%endif%}
            </table>
            
         </div>
      </div>
</div>
 <div class="content-inner">
      <div class="profile-wrapper">
         <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
            <ul class="menu-list ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
               <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="false" aria-expanded="false"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Заказы компании <span>({{order_count}})</span></a></li>
               <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="true" aria-expanded="true"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Предложения компании <span>({{sentence_count}})</span></a></li>
            </ul>
            <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
               <div class="tabs-inner">
                  <div class="content-inner-top clearfix">
                     <h2 class="section-heading">Заказы компании</h2>
                  </div>
                  <div class="orders-mini-wrapper">
                     {% if user.is_authenticated%}
                     {% paginate order_list %}
                     {%for item in order_list%}
                     <div class="orders-mini clearfix">
                        <div class="orders-mini-img-block">
                           {% if user.is_authenticated %}
                           {%for file in item.orderimage_set.all|slice:":1"%}
                           {% thumbnail file.file "150" crop="center" as im %}
                           <a href="/order/{{item.id}}" class="button-h-opacity">
                           <img src="{{ im.url }}">
                           </a>
                           {% endthumbnail %}
                           {%endfor%}
                           {% else %}
                           <img src="/media/images/company/company_no-reg.jpg" alt="{{item.title}}">
                           {% endif %}
                        </div>
                        <div class="orders-mini-content">
                           <div class="orders-mini-content-top clearfix">
                              <a href="{% url 'order_detail' item.id %}" class="orders-mini-content-title">{{item.title}} </a>
                           </div>
                           <div class="orders-mini-content-text">{{item.body|slice:":70"}}</div>
                           <div class="orders-mini-content-bottom">
                              <div class="left">
                                 {%if item.user.company_set.all%}
                                 {%for a in item.user.company_set.all%}
                                 <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                 {%endfor%}
                                 {%else%}
                                 <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                 {%endif%}
                                 <span class="orders-mini-date">{{item.born}}</span>
                              </div>
                              <div class="orders-mini-content-top-info clearfix right">
                                 <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                    <input type="hidden" name="city" value="{{item.city}}">
                                    <input type="hidden" name="modeltype" value="order">
                                    <input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}">
                                 </form>
                                 {%if user.is_authenticated%}
                                 {%if user == item.user%}
                                 мое
                                 {%else%}
                                 <a href="#"
                                 class="add-to-favorites"
                                 data-id="{{ item.id }}"
                                 {% if item in user.userprofile.liked_order.all %}
                                 data-in_favorites="true"
                                 {% else %}
                                 data-in_favorites="false"
                                 {% endif %}
                                 data-type="order"
                                 >
                                 {% if item in user.userprofile.liked_order.all %}
                                 <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                 {% else %}
                                 <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                 {% endif %}
                                 </a>
                                 {%endif%}
                                 {%endif%}
                              </div>
                           </div>
                        </div>
                     </div>
                     {%endfor%}
                     {%else%}
                     <a href="/accounts/login/">Войдите, чтобы увидеть</a>
                     {%endif%}
                  </div>
                  <div class="pager">
                     <div class="table-wrapper">
                        <div class="table-wrapper-inner">
                           {% if user.is_authenticated%}
                           {% show_pages %}
                           {%endif%}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
               <div class="tabs-inner">
                  <div class="content-inner-top clearfix">
                     <h2 class="section-heading">Предложения компании</h2>
                  </div>
                  <div class="orders-mini-wrapper">
                     {% if user.is_authenticated%}
                     {% paginate sentence_list %}
                     {%for item in sentence_list%}
                     <div class="orders-mini clearfix">
                        <div class="orders-mini-img-block">
                           {% if user.is_authenticated %}
                           {%for file in item.sentenceimage_set.all|slice:":1"%}
                           {% thumbnail file.file "150" crop="center" as im %}
                           <a href="/sentence/{{item.id}}" class="button-h-opacity">
                           <img src="{{ im.url }}">
                           </a>
                           {% endthumbnail %}
                           {%endfor%}
                           {% else %}
                           <img src="/media/images/company/company_no-reg.jpg" alt="{{item.title}}">
                           {% endif %}
                        </div>
                        <div class="orders-mini-content">
                           <div class="orders-mini-content-top clearfix">
                              <a href="/order/{{item.id}}" class="orders-mini-content-title">{{item.title}}</a>
                           </div>
                           <div class="orders-mini-content-text">{{item.body|slice:":70"}}</div>
                           <div class="orders-mini-content-bottom">
                              <div class="left">
                                 {%if item.user.company_set.all%}
                                 {%for a in item.user.company_set.all%}
                                 <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                 {%endfor%}
                                 {%else%}
                                 <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                 {%endif%}
                                 <span class="orders-mini-date">{{item.born}}</span>
                              </div>
                              <div class="orders-mini-content-top-info clearfix right">
                                 <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                    <input type="hidden" name="city" value="{{item.city}}">
                                    <input type="hidden" name="modeltype" value="order">
                                    <input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}">
                                 </form>
                                 {%if user.is_authenticated%}
                                 {%if user == item.user%}
                                 мое
                                 {%else%}
                                 <a href="#"
                                 class="add-to-favorites"
                                 data-id="{{ item.id }}"
                                 {% if item in user.userprofile.liked_order.all %}
                                 data-in_favorites="true"
                                 {% else %}
                                 data-in_favorites="false"
                                 {% endif %}
                                 data-type="order"
                                 >
                                 {% if item in user.userprofile.liked_order.all %}
                                 <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                 {% else %}
                                 <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                 {% endif %}
                                 </a>
                                 {%endif%}
                                 {%endif%}
                              </div>
                           </div>
                        </div>
                     </div>
                     {%endfor%}
                     {%else%}
                     <a href="/accounts/login/">Войдите, чтобы увидеть</a>
                     {%endif%}
                  </div>
                  <div class="pager">
                     <div class="table-wrapper">
                        <div class="table-wrapper-inner">
                           {% if user.is_authenticated%}
                           {% show_pages %}
                           {%endif%}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
     
  
 

{%endblock%}
