{%extends 'base.html'%}
{% load thumbnail %}
{%block pagetitle%}Профиль {{profile.username}}{%endblock%}
{%block content%}
{%if profile.username == user.username%}
<div class="content">
    <div class="content-inner">
        <div class="content-inner-top  clearfix">
            <h2 class="section-heading">Профиль</h2>
        </div>
        <div class="profile-wrapper">
            <div class="tabs">
                <ul class="menu-list">
                    <li><a href="#tabs-1">Информация о компании</a></li>
                    <li><a href="#tabs-2">Мои объявления</a></li>
                    <li><a href="#tabs-3">Избранное</a></li>
                </ul>
                <div id="tabs-1">
                    <table class="profile-table">
                        {%for item in profile.company_set.all%}
                        <tr>
                            <td>Лого:</td>
                            <td>
                                {% thumbnail item.logo "200" as im %}
                                <img src="{{ im.url }}" alt="{{profile.name}}">
                                {% endthumbnail %}
                            </td>
                        </tr>
                         <tr>
                            <td>Название:</td>
                            <td>{{item.title}}</td>
                        </tr>
                        <tr>
                            <td>Информация:</td>
                            <td>{{item.info}} </td>
                        </tr>
                        <tr>
                            <td>Сайт:</td>
                            <td><a href="{{item.url}}" class="main-input-link">{{item.url}}</a></td>
                        </tr>
                        <tr>
                            <td>Город:</td>
                            <td>{{item.city}}</td>
                        </tr>
                        <tr>
                            <td>Юр.адрес:</td>
                            <td>{{item.ur_adress}}</td>
                        </tr>
                        <tr>
                            <td>Почтовый адрес:</td>
                            <td>{{item.pochta_adress}}</td>
                        </tr>
                        <tr>
                            <td>Название банка:</td>
                            <td><span class="profile-table-not">{{item.bank}}</span></td>
                        </tr>
                        <tr>
                            <td>Фотографии:</td>
                            <td>
                                <ul class="profile-table-img-list">
                                    {%for file in item.companyimage_set.all%}
                                    {%if file.file_up%}
                                    <li>
                                        <div class="profile-table-img-list-img-block">
                                            <a href="{{file.file_up.url}}" class="button-h-opacity modalbox" rel="gal-1">
                                            <img src="{{file.file_up.url}}" alt="">
                                            </a>
                                        </div>
                                        <div><a href="{{file.file_up.url}}" class="main-input-link">Скачать</a></div>
                                    </li>
                                    {%endif%}
                                    {%endfor%}
                                </ul>
                            </td>
                        </tr>
                        {%endfor%} 
                       
                    
                    </table>
                    <div class="center">
                                {%if company == 1%}
                                {%for item in profile.company_set.all%}
                                <a class="add-button center" href="/company/edit/{{item.id}}">Редактировать</a>
                                {%endfor%}
                                {%else%}
                        
                                 <a class="add-button" href="/company/add/">Добавить</a>
                                {%endif%}
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="tabs-inner">
                        <div class="tabs">
                            <ul class="menu-list">
                                <li><a href="#tabs-1-1">Активные ({{active}})</a></li>
                                <li><a href="#tabs-1-2">Неактивные ({{noactive}}) </a></li>
                                <li><a href="#tabs-1-3">Черновик ({{che}})</a></li>
                            </ul>
                            <div id="tabs-1-1">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Заказы ({{ order_activ }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.order_set.all%}
                                        {%if item.status == '1' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.orderimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'order_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'order_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="order">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Предложения ({{ sentence_activ }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.sentence_set.all%}
                                        {%if item.status == '1' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.sentenceimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'sentence_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'sentence_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="sentence">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-1-2">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Заказы ({{ order_noactiv }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.order_set.all%}
                                        {%if item.status == '2' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.orderimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'order_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'order_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="order">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Предложения ({{ sentence_noactiv }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.sentence_set.all%}
                                        {%if item.status == '2' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.sentenceimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'sentence_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'sentence_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="sentence">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-1-3">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Заказы ({{ order_che }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.order_set.all%}
                                        {%if item.status == '3' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.orderimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'order_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'order_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="order">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Предложения ({{ sentence_che }})</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%for item in profile.sentence_set.all%}
                                        {%if item.status == '3' %}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.sentenceimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        <div class="proper">
                                                            <a href="{% url 'sentence_edit' item.id%}" class="orders-mini-enterprise">Редактировать</a>
                                                            <a href="{% url 'sentence_delete' item.id%}" class="orders-mini-enterprise delete-link">Удалить</a>
                                                        </div>
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="sentence">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="tabs-inner">
                        <div class="tabs">
                            <ul class="menu-list">
                                <li><a href="#tabs-2-1">Заказы ({{ profile.liked_order.count }})</a></li>
                                <li><a href="#tabs-2-2">Предложения ({{ profile.liked_sentence.count }})</a></li>
                                <li><a href="#tabs-2-3">Компании ({{ profile.liked_company.count }})</a></li>
                            </ul>
                            <div id="tabs-2-1">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Избранные заказы </h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%if profile.liked_order.all%}
                                        {%for item in profile.liked_order.all%}
                                        {%if item.status == '1'%}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.orderimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'order_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="order">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                        {%if user.is_authenticated%}
                                                        {%if user == item.user%}
                                                        <p>Свое</p>
                                                        {%else%}
                                                        <a href="#"
                                                        class="add-to-favorites"
                                                        data-id="{{ item.id }}"
                                                        {% if item in user.userprofile.liked_order.all %}
                                                        data-in_favorites="true"
                                                        {% else %}
                                                        data-in_favorites="false"
                                                        {% endif %}
                                                        data-type="order"
                                                        >
                                                        {% if item in user.userprofile.liked_order.all %}
                                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                                        {% else %}
                                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                                        {% endif %}
                                                        </a>
                                                        {%endif%}
                                                        {%endif%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                        {%else%}
                                        <div class="orders-mini-wrapper">
                                            <p style="margin-left:30px;">нет избранных заказов</p>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-2-2">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Избранные предложения </h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%if profile.liked_sentence.all%}
                                        {%for item in profile.liked_sentence.all%}
                                        {%if item.status == '1'%}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.sentenceimage_set.all|slice:":1"%}
                                                {% thumbnail file.file "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="{% url 'sentence_detail' category_slug=item.category.parent.parent.slug subcategory_pk=item.category.parent.id subsubcategory_slug=item.category.slug slug=item.slug %}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.body|linebreaks|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                        
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="sentence">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                        {%if user.is_authenticated%}
                                                        {%if user == item.user%}
                                                        <p>Свое</p>
                                                        {%else%}
                                                        <a href="#"
                                                        class="add-to-favorites"
                                                        data-id="{{ item.id }}"
                                                        {% if item in user.userprofile.liked_sentence.all %}
                                                        data-in_favorites="true"
                                                        {% else %}
                                                        data-in_favorites="false"
                                                        {% endif %}
                                                        data-type="sentence"
                                                        >
                                                        {% if item in user.userprofile.liked_sentence.all %}
                                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                                        {% else %}
                                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                                        {% endif %}
                                                        </a>
                                                        {%endif%}
                                                        {%endif%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                        {%else%}
                                         <div class="orders-mini-wrapper">
                                            <p style="margin-left:30px;">нет избранных предложений</p>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                            <div id="tabs-2-3">
                                <div class="content-inner">
                                    <div class="content-inner-top content-inner-top-2 clearfix">
                                        <h2 class="section-heading">Избранные компании</h2>
                                    </div>
                                    <div class="orders-mini-wrapper">
                                        {%if profile.liked_company.all%}
                                        {%for item in profile.liked_company.all%}
                                        <div class="orders-mini clearfix">
                                            <div class="orders-mini-img-block">
                                                {% if user.is_authenticated %}
                                                {%for file in item.companyimage_set.all|slice:":1"%}
                                                {% thumbnail file.file_up "150" crop="center" as im %}
                                                <a href="{{ im.url }}" class="button-h-opacity">
                                                <img src="{{ im.url }}"  >
                                                </a>
                                                {% endthumbnail %}
                                                {%endfor%}
                                                {% else %}
                                                <img src="/media/images/company/company_no-reg.jpg">
                                                {% endif %}
                                            </div>
                                            <div class="orders-mini-content">
                                                <div class="orders-mini-content-top clearfix">
                                                    <a href="/companies/{{item.id}}" class="orders-mini-content-title">{{item.title}}</a>
                                                </div>
                                                <div class="orders-mini-content-text">{{item.info|slice:":70"}}</div>
                                                <div class="orders-mini-content-bottom">
                                                    <div class="left">
                                                        {%if item.user.company_set.all%}
                                                        {%for a in item.user.company_set.all%}
                                                        <a href="/companies/{{a.id}}" class="orders-mini-enterprise">{{a.title}}</a>
                                                        {%endfor%}
                                                        {%else%}
                                                        <a href="{%url 'notcompany_detail' item.user.id%}" class="class="orders-mini-enterprise"">{{item.user}}</a>
                                                        {%endif%}
                                                        <span class="orders-mini-date">{{item.born}}</span>
                                                    </div>
                                                    <div class="orders-mini-content-top-info clearfix right">
                                                        <form action="/search-city/" class="orders-mini-content-geo" method="get">
                                                            <input type="hidden" name="city" value="{{item.city}}">
                                                            <input type="hidden" name="modeltype" value="company">
                                                            <p><input type="submit" class="search-button-new button-h-opacity" value="{{item.city}}"></p>
                                                        </form>
                                                        {%if user.is_authenticated%}
                                                        {%if user == item.user%}
                                                        <p>Свое</p>
                                                        {%else%}
                                                        <a href="#"
                                                        class="add-to-favorites"
                                                        data-id="{{ item.id }}"
                                                        {% if item in user.userprofile.liked_company.all %}
                                                        data-in_favorites="true"
                                                        {% else %}
                                                        data-in_favorites="false"
                                                        {% endif %}
                                                        data-type="company"
                                                        >
                                                        {% if item in user.userprofile.liked_company.all %}
                                                        <i class="orders-mini-content-favourite orders-mini-content-favourite-active" aria-hidden="true"></i>
                                                        {% else %}
                                                        <i class="orders-mini-content-favourite" aria-hidden="true"></i>
                                                        {% endif %}
                                                        </a>
                                                        {%endif%}
                                                        {%endif%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                        {%else%}
                                         <div class="orders-mini-wrapper">
                                            <p style="margin-left:30px;">нет избранных компаний</p>
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}
{%endblock%}

 {%block aside%}
 {%if profile.username == user.username%}
 <aside class="sidebar">
                <a href="/order/add" class="order-button">заказ</a>
                <a href="/sentence/add" class="order-button">предложение</a>
                <div class="sidebar-inner">
                    <div class="sidebar-heading">Личный кабинет</div>

                    <div class="profile-sidebar-text">
                        <div class="profile-sidebar-text-top">ФИО:</div>
                        <p>{{profile.name}}</p>
                    </div>
                    <div class="profile-sidebar-text">
                        <div class="profile-sidebar-text-top">Электронная почта:</div>
                        <p><a href="#" class="main-input-link">{{profile.email}}</a></p>
                    </div>
                    <div class="profile-sidebar-text">
                        <div class="profile-sidebar-text-top">Телефон:</div>
                        <p>{{profile.phone}}</p>
                    </div>
                    <a href="/profile/edit/{{profile.id}}">Редактировать</a>       
                </div>
                <div class="sidebar-inner">
                                    {%block last-company%}
                                    <div class="sidebar-heading">Новые компании</div>
                                    <ul class="sidebar-list link-h-underline-parent">
                                        {% load company_tags%}
                                        {% show_company %}
                                    </ul>
                                    <div class="orders-mini-wrapper-bottom">
                                        <a href="/companies">Все компании &gt;</a>
                                    </div>
                                    {%endblock%}
                                </div>
            </aside>
             {%endif%}
 {%endblock%}