<!DOCTYPE html><!--[if IE 7]>
<html class = "ie7">
   <![endif]--><!--[if IE 8]>
   <html class = "ie8">
      <![endif]--><!--[if IE 9]>
      <html class = "ie9">
         <![endif]--><!--[if !(IE 7) | !(IE 8) | !(IE 9) ]><!-->
         <html>
            <!--<![endif]-->
            <head>
               <title>Регистрация</title>
               <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
               <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
               <script type="text/javascript" src="/static/js/jquery-1.11.0.js" ></script><script type="text/javascript" src="/static/js/script.js" ></script><!--[if IE]><script src="/static/js/html5.js"></script>
               <link rel="stylesheet" type="text/css" href="/static/css/ie.css">
               <![endif]-->
            </head>
            <body class="login">
               <div class="wrapper login-wrapper">
                  <header>
                     <h1>Доска обьявлений</h1>
                  </header>
                  <!-- header -->
                  <div class="post">
                     <div class="post-header">
                        <h2>Регистрация</h2>
                     </div>
                     <!-- .post-header -->
                     <form class="login-form clearfix" method="post" action="">
                          {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Принять" />
                         </form>
                     <!-- .login-form -->
                     <div class="post-footer">
                       <p> Есть акаунт?<a href="{% url 'registration_register' %}">Войти</a>!</p>
                     </div>
                     <!-- .post-footer -->
                  </div>
                  <!-- .post -->
               </div>
               <!-- .wrapper -->
            </body>
         </html>
