{% extends "base.html" %}
                     {%block content%}
                     <div class="wrapper login-wrapper">
                  <header>
                     <h1><a href="/">На главную</a></h1>
                  </header>
                  <!-- header -->
                  <div class="post">
                     <div class="post-header">
                        <h2>Регистрация</h2>
                     </div>
                     <!-- .post-header -->
                     {%block content%}
                    
                    {%endblock%}
                    {%block bootom%}
                     <!-- .login-form -->
                     <div class="post-footer">
                       <p>Есть акаунт?<a href="{% url 'registration_register' %}">Войти</a>!</p>
                     </div>
                     {%endblock%}
                     <!-- .post-footer -->
                  </div>
                  <!-- .post -->
               </div>
               <!-- .wrapper -->
                    {%endblock%}
                    {%block bootom%}
                     <!-- .login-form -->
                     <div class="post-footer">
                       <p>Есть акаунт?<a href="{% url 'registration_register' %}">Войти</a>!</p>
                     </div>
                     {%endblock%}


