{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{%block pagetitle%}Сброс пароля{%endblock%}

{% block content %}
<div class="content">
    <div class="content-inner">
        <div class="content-inner-top  clearfix">
            <h2 class="section-heading">{% trans "Password Reset" %}</h2>
        </div>
        <div class="main-form-wrapper">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="main-form-wrapper">
                         <table class="main-form-table">
       <tbody>
{% for field in form %}
    
                           
   <tr>
      
      <td>{{ field.label_tag }}</td>
      <td>{{ field }} {{ field.errors }}</td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   </div>
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
</div>
{% endblock %}
