{% extends "account/base.html" %}

{% load i18n %}
{%block pagetitle%}Регистрация{%endblock%}
{% block content %}
<div class="content">
    <div class="content-inner">
        <div class="content-inner-top clearfix">
            <h2 class="section-heading">Регистрация </h2>
            <a href="/accounts/login" class="entry-link">Вход</a>
        </div>
        <form class="signup login-form clearfix" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="main-form-wrapper">
                <table class="main-form-table">
                    {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td> {{ field }} <p id="err_id_title">{{ field.errors }}</p></td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div class="main-form-wrapper">
                <table class="main-form-table main-form-table-2">
                    {% if redirect_field_value %}
                    <tr>
                        <td> <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /></td>
                    </tr>
                    {% endif %}
                    <tr>
                    
                       <td>
                            <p class="confirm">Регестрируясь, я подтверждаю свое согласие с <a href="/page/confir">правилами сайта</a></p>
                        </td>
                       
                        <td>
                            <button type="submit" id='submit'>{% trans "Sign Up" %} &raquo;</button>
            
                            
                           
                       
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
{% endblock %}
